<footer
    class="mx-auto bg-gradient-to-b from-neutral-900 via-neutral-800 to-neutral-900"
>
    <div
        class="max-w-6xl mx-auto px-6 grid md:grid-cols-4 gap-2 md:gap-10 text-gray-300 py-5 rounded-4xl"
    >
        <p class="text-sm text-center">
            <a
                href="tel:51936554698"
                class="text-white hover:text-white/80"
                target="_blank">(+51) 936554698</a
            >
        </p>
        <p class="text-sm text-center">
            <a
                href="https://maps.app.goo.gl/Tk8A5LJLXvGG73K38"
                class="text-white hover:text-white/80"
                target="_blank">Albaricoques 231 - La Molina</a
            >
        </p>
        <p class="text-sm text-center">
            <a
                href="mailto:comercial@winayagency.com"
                target="_blank"
                class="text-white hover:text-white/80"
                >comercial@winayagency.com</a
            >
        </p>
        <p class="text-sm text-center text-white">20614057093</p>
    </div>
</footer>

<style>
    .bg-footer {
        background-image: url("https://winayagency.com/wp-content/uploads/2023/06/2_11zon.jpg");
    }
</style>
