       <form action="">
                                <div
                                    class="grid grid-cols-2 mt-8 space-x-4 gap-4"
                                >
                                    <div class="col-span-2 w-full">
                                        <input
                                            type="text"
                                            class="bg-white text-gray-900 placeholder:text-gray-400 rounded-lg w-full pr-7 pl-3 py-2.5 focus:outline-0 focus:-outline-offset-0"
                                            placeholder="Nombre"
                                        />
                                    </div>
                                    <div class="col-span-1 w-full">
                                        <input
                                            type="text"
                                            class="bg-white text-gray-900 placeholder:text-gray-400 rounded-lg w-full pr-7 pl-3 py-2.5 focus:outline-0 focus:-outline-offset-0"
                                            placeholder="Teléfono"
                                        />
                                    </div>
                                    <div class="col-span-1 w-full">
                                        <input
                                            type="text"
                                            class="bg-white text-gray-900 placeholder:text-gray-400 rounded-lg w-full pr-7 pl-3 py-2.5 focus:outline-0 focus:-outline-offset-0"
                                            placeholder="Correo"
                                        />
                                    </div>
                                    <div class="col-span-2 w-full">
                                        <select
                                            class="bg-white text-gray-400 rounded-lg w-full pr-7 pl-3 py-2.5 focus:outline-0 focus:-outline-offset-0"
                                            name="0"
                                            id=""
                                        >
                                            <option value="" class="rounded"
                                                >Rubro de tu empresa</option
                                            >
                                        </select>
                                    </div>
                                    <div class="col-span-2 w-full">
                                        <textarea
                                            name=""
                                            class="bg-white text-gray-900 placeholder:text-gray-400 rounded-lg w-full pr-7 pl-3 py-2.5 focus:outline-0 focus:-outline-offset-0"
                                            placeholder="Problema actual y necesidades"
                                            id=""></textarea>
                                    </div>
                                    <div
                                        class="col-span-2 flex justify-center items-center"
                                    >
                                        <button
                                            type="submit"
                                            class="bg-winay py-2.5 rounded-lg font-extrabold italic cursor-pointer w-full text-white uppercase"
                                            >Enviar Requerimiento</button
                                        >
                                    </div>
                                </div>
                            </form>